.ce {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-direction: row;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
}

.se {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
}
